.Modal {
  position: fixed;
  top: 30vh;
  left: 25%;
  width: 50%;
  z-index: 100;
  overflow: hidden;
}

.Header {
  background: #ff5edf;
  padding: 1rem;
}

.Header h2 {
  margin: 0;
  color: white;
}

.Content {
  padding: 1rem;
}

.Actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
