.Button {
  font: inherit;
  border: 1px solid #04c8de;
  background: #04c8de;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.Button:hover,
.Button:active {
  background: #3bc7d6;
  border-color: #3bc7d6;
}

.Button:focus {
  outline: none;
}
