.Navbar {
  display: flex;
  justify-content: flex-end;
}

.MobileNavbar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 50;
  height: 100%;
}

@media screen and (max-width: 468px) {
  .Navbar {
    display: none;
  }
}
